<h1 style='color: #bac2de;'>Login</h1>

<form class='form login-form'>
	<div class='form-group'>
		<label for='email-login' style='color: #a6adc8;'>Email:</label>
		<input class='form-input' type='email' id='email-login' />
	</div>
	<div class='form-group'>
		<label for='password-login' style='color: #a6adc8;'>Password:</label>
		<input class='form-input' type='password' id='password-login' />
	</div>
	<div class='form-group'>
		<button class='btn btn-lg btn-info' type='submit'>Login</button>
	</div>
	<div class='form-group'>
		<div class='row'>
			<div class='col-md-8' style='color: #a6adc8;'>
				New user? Sign up
				<a
					href='/signup'
					style='color: #cba6f7; text-decoration: none'
				>here</a>
			</div>
		</div>
	</div>
</form>

<script src='/js/login.js'></script>