<div class="userwelcome">
    <div class="card-body">
      <h1>Welcome, {{first_name}}</h1>
    </div>
  </div>

  <h4>Your Money at a glance ...</h4>
  <div class = "userinfo">

    <div class="card">
    <div class="card-header">
      Cash Flow
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>{{value}}</p>
        <footer class="blockquote-footer">Some words <cite title="Source Title">Some words</cite></footer>
      </blockquote>
    </div>
  </div>

   <div class="card">
    <div class="card-header">
      Investments
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>{{value}}</p>
        <footer class="blockquote-footer">Some words <cite title="Source Title">Some words</cite></footer>
      </blockquote>
    </div>
  </div>
   <div class="card" id = "savings">
    <div class="card-header">
      Savings
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>{{value}}</p>
        <footer class="blockquote-footer">Some words<cite title="Source Title">Some words</cite></footer>
      </blockquote>
    </div>
  </div>
 </div>