<h1 style='color: #bac2de;'>Sign Up</h1>

<form class='form signup-form'>
	<div class='form-group'>
		<label for='firstname-signup' style='color: #a6adc8;'>First Name:</label>
		<input class='form-input' type='text' id='firstname-signup' required />
	</div>
	<div class='form-group'>
		<label for='lastname-signup' style='color: #a6adc8;'>Last Name:</label>
		<input class='form-input' type='text' id='lastname-signup' required />
	</div>
	<div class='form-group'>
		<label for='email-signup' style='color: #a6adc8;'>Email:</label>
		<input class='form-input' type='email' id='email-signup' required />
	</div>
	<div class='form-group'>
		<label for='password-signup' style='color: #a6adc8;'>Password: (at least
			<span id='char_count' style='color: #f38ba8;'>8</span>
			more characters)</label>
		<input
			class='form-input'
			type='password'
			id='password-signup'
			required
			minlength='8'
		/>
	</div>
	<div class='form-group'>
		<button class='btn btn-lg btn-link' type='submit'>Sign Up</button>
	</div>
	<div class='form-group'>
		<div class='row'>
			<div class='col-md-8' style='color: #a6adc8;'>
				Already a user? Login
				<a
					href='/login'
					style='color: #cba6f7; text-decoration: none;'
				>here</a>
			</div>
		</div>
	</div>
</form>

<script src='/js/signup.js'></script>